@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


:root {
    --colorPrimario: white;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: "Staatliches", cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/*===== GLOBALES =====*/
body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-size: 1.6rem;
    line-height: 1.5;
}


p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorPrimario);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-inline: 1rem;
}

h1,
h2,
h3 {
    text-align: center;
    color: hsl(44, 100%, 50%) ;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/******HEADER*********/

.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
/*******FOOTER*******/
.footer{
    background-color: hsla(0, 0%, 0%, 0.226);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text {
    text-align: center;
    font-size: 2.2rem;

}
/*********NAVEGACION********/

.navegacion {
    background-color: hsla(0, 0%, 0%, 0.226);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /***FORMA NUEVA****/

}
.navegacion__enlace {
    color: var(--colorPrimario);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: hsl(44, 100%, 50%);
}

/*********GRID************/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/***Productos***/
.producto {
    background-color: hsla(0, 0%, 0%, 0.226);
    padding: 1rem;
    border-radius: 1rem;
}


.producto__informacion {

}

.producto__nombre {
    font-size: 4rem;

}

.producto__precio {
    font-size: 2.8rem;
    color: hsl(44, 100%, 50%);
}

.producto__nombre,
.producto__precio {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/*****BOTON DECOMPRA******/

.button {
    --width: 100%;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: hsla(0, 0%, 0%, 0.212);
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  

/******GRAFICOS********/

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(img/grafico1.jpg);
}
.grafico--node {
    background-image: url(img/grafico2.jpg);  
    grid-row: 8 / 9;
}
.grafico--camisas,
.grafico--node {
    border-radius: 1rem;
}

 @media (min-width: 768px) {

    .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
 }

}

/****NOSOTROS*****/

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}

/*******BLOQUES*******/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/******Paguina del producto********/

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border: 1rem solid hsla(0, 0%, 0%, 0.226);
    background-color: transparent;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit {
    background-color: hsl(44, 100%, 50%);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: hsl(44, 96%, 36%);
}
.formulario,
.formulario__campo,
.formulario__submit {
    border-radius: 1rem;
}